p {
    color: red;
}

body {
    font-size: 15px;
    display: flex;
}

span {

    font-size: 5px;
    @media (max-width: 767px) {
        font-size: 25px;
        color: green;
        box-shadow: 0 0 10px green;
    }
}
div {
    font-size: 30px;
    @media (max-width: 767px) {
        font-size: 40px;
        color: blue;
    }
}
